[Desktop Entry]
Type=Application
Exec=YUView %F
Name=YUView
GenericName=YUV Video Player
X-KDE-StartupNotify=true
Icon=IENT-YUView-64
Terminal=false
Categories=AudioVideo;
MimeType=application/vnd.ient.yuview.yuvfile;
