<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="YUView" Language="1033" Version="2.1" Manufacturer="IENT RWTH-Aachen" UpgradeCode="07fd1dd5-9b1e-453d-974b-4ff7919a49c7">
		<Package InstallerVersion="200" Compressed="yes" Platform="x64" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
  
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPLICATIONFOLDER" Name="YUView">
					<Component Id="MainExecutable">
						<File Source="..\..\deploy\YUView.exe" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
  
    <Feature Id='ProductFeature' Title='YUView' Level='1'>
      <ComponentRef Id='MainExecutable' />
    </Feature>
    
    <WixVariable Id="WixUILicenseRtf" Value="YUViewLicense.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="YUViewBanner.bmp" />
    <UIRef Id="WixUI_Minimal" />

	</Product>
</Wix>
